.navbar-default{
    background-color: white;
    border: none;
}
.navbar-brand{
 font-family: 'Allura', cursive;
   font-size: 48px;
   font-weight: bold;
   color: #ff5d55 !important;
 /*text-shadow: 4px 4px 4px #aaa;*/
}

.nav-items >.active{
    color: #ff5d55 !important;
}

.navbar-nav > li > a{
    font-family: 'Amaranth', sans-serif;
      color: #373737 !important;
}