---

---
@charset "utf-8";

:root{
  --turquoise:#7ecdd0;
  --pink:#FF7770;
  --brand-color:#282828;
  --raleway-font: "raleway",sans-serif;
  --title-color:#282828;
  --body-text-color: #1f1f1f;
}

html, body{
  height: 100%;
  margin: 0px;
  font-family: "europa";
  color: var(--body-text-color);
  line-height: 1.6em;
  letter-spacing: .5px;
  font-weight: 300;
  font-style: normal;
  background-color: #FFFFFF;
}
h1{
  margin-bottom: 2em;
}
img{
  width: 100%;
  display: block;
  
}
ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}


a{
  color: var(--pink);
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 3em;
    margin-bottom:3em;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
}

@media only screen and (max-width : 840px) {
  main{
    grid-template-columns: 1fr;
  }
}

article{
  padding: 2em;
}

aside{
  margin: 3em 0;
}

/* outer most container*/
.container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* logo */
#logo img{
  box-shadow: unset;
}

/* cover/front page */
.cover-grid{
  font-family: open sans;
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(300px, 2fr) minmax(200px, 1fr);
}


.main-cta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #484848;
}

.main-cta p{
  font-size: 2vmax;
  text-align: center;
  padding: 1vh;
  margin: 0px;
  color: #ffffff;
}
.main-cta .large-text{
  font-size: 4vmax;
  color: var(--pink);
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 2em;
}

.main-cta .btn{
  padding: 1em 3em;
  background-color: var(--pink);
  color: #ffffff;
  font-weight: bold;
  margin: 2em;
}

.main-cta .btn p{
  padding: 0px;
} 
.images-list{
  display: flex;
  flex-direction: column;
  flex-flow: column;
  overflow: auto;
}
.nav{
  width: 100%;
  background-color: #ffffff;
  color: #5f5f5f;
  padding: 1em 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-row: 2;
  grid-column: -1/1;
  flex-wrap: wrap;
  font-weight: 300;
}
.nav .nav-item{
  width: max-content;
  padding: 0.2em 1em;
}
.logo-bottom{
  background-color: #fff9;
  width: 200px;
  padding: 1em 2em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
 @media only screen and (max-width : 480px) {

  .cover-grid{
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
  }

  .images-list{
    flex-direction: row;
  }
  .images-list .thumb img{
    height: 100%;
    width: auto;
  }
  .main-cta p{
    font-size: 3vmax;
  }
}

.cover-image{
  margin: 0px;
}
/* end cover/front page */


/* navigation */
.nav-bar{
  margin: 1em;
  width: 90%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
}

.nav-bar a{
  color: unset;
}

.nav-bar .brand img{
  max-height: 50px;
  width: auto;

}

.nav-items{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
  display: flex;
  width: max-content;
}
.nav-item .nav-link{
  padding: 0.5em 1.2em;
  display: block;
}

.nav-item:hover{
  color: var(--pink);
}

/* toggle button */
.nav-btn{
  height: 30px;
  list-style-type: none;
  padding: 0.5rem;
  align-self: center;
    
}
.nav-btn li{
  width: 25px;
  height: 1px;
  background: gray;
  margin: 6px;

}

/* toggle navigation */
.nav-verticle{
  display: none;
  z-index: 100;
  padding: 1em;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  right: 0;
  top: 50px;
  background-color: #ffffff;
}

@media only screen and (max-width : 840px) {
  .nav-btn{
    display: block;
  }

  .nav-items{
    display: none;
  }
}

@media only screen and (min-width : 840px) {
  .nav-btn{
    display: none;
  }
}

.post-title{
  text-align: center;
}

.author{
  display: none;
}
/* end toggle navigation */
/* end navigation*/

/* signup */
.fixed-signup{
  position: fixed;
  right: 0;
  bottom: 0;
}

.sign-up{
  background-color: #f5f1f1;
  text-align: center;
  padding: 2em;
  max-width: 300px;
  margin: 0 auto;
 }

.sign-up .emphasise{
  font-weight: bold;
  color: var(--turquoise);
}

.sign-up h5{
  font-size: 1em;
  margin:0px;
  margin-bottom: 1em;
  padding: 0px;
}

.sign-up p{
  color: #1f1f1f;
  margin: 0px;
}

.sign-up img{
  max-width: 8em;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sign-up .button{
  background: #FB7972;
  padding: 1em;
  margin-top: 1em;
  color: white;
  font-weight: bold;
}
@media only screen and (max-width : 840px) {
  .sign-up{
    position: relative;
  }
}

/*end signup*/

/* gallery */
.image-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  grid-gap: 1rem;
  margin: 2rem;
}
/* end gallery */


/* video post */
.video-image-grid{
  display: grid;
  grid:"video";
  justify-content: center;
}

.video-image{
  grid-area: video;
  max-width: 700px;
}
.video-image-grid .play-icon{
  z-index: 2;
  max-width: 16vw;
  align-self: center;
  justify-self: center;
  grid-area: video;
}
/* end video post */






/*Recipe*/
$desktop: "(min-width: 900px)";

.recipe {

  display: grid;
  grid-template-columns: 1fr;
  justify-items:center;
  padding: 0em 2em;

  h1 a {
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  time {
    padding: 0 0 20px 0;
    display: block;
  }
  .recipe-body{
    max-width: 90%;
  }
  .recipe-overview {
    padding: 0em 1em;
    margin:0;
    margin-top: 2em;

    svg {
      position: relative;
      top: 6px;
    }

    span {
      margin: 0 18px 0 3px;
    }

    li {
      list-style: none;
      padding: 0;
      margin: 0;

      @media #{$desktop} {
        display: inline-block;
      }
    }
  }

  .recipe-contents {
    border: #999 1px dashed;
    padding: 1em;
    position: relative;

    @media #{$desktop} {
      display: flex;
    }

    #print-link{
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }

    ul {
      margin-left: 0;
      padding: 0;
      li {
        list-style-type: none;
        &:before {
          content: '\00bb';
          color: #ff4e4e;
          padding-right: 0.5em;
        }
      }
    }

    ol {
      padding: 0;
      li{
        counter-increment: step-counter;
        list-style-type: none;
        position: relative;
        margin-bottom: 5px;
        margin-left: 2em;

        &:before {
          content: counter(step-counter);
          margin-right: 0px;
          background-color: #ff4e4e;
          color: white;
          padding: 0.1em;
          font-size: .7em;
          position: absolute;
          left: -33px;
          top: 0em;
          width: 25px;
          text-align: center;
        }
      }
    }
    .ingredients {
       @media #{$desktop} {
         max-width: 40%;
         padding: 1em;
      }
     
    }

    .directions {
      @media #{$desktop} {
        flex: 1;
        padding: 1em;
      }
    }
  }
}

.recipe + .recipe {
  margin: 65px 0 50px 0;
}
#recipe-footer{
  visibility: hidden;
  bottom: -16px;
  position: absolute;
  left: 0;
  font-size: x-small;
  color: #999;
  font-family: sans-serif;
}

@media print {
   
  a {
    text-decoration: none;
    color: #000;
  }

  h1 {
    font-size: 24pt;
    margin: 0 0 10px 0;
  }


  h2, h3, h4 {
  font-size: 14pt;
  margin-top: 25px;
  }

  body {
    font-size: 14pt;
    line-height: 1.3;
    background: #fff !important;
    color: #000;

  }

  @page {
  margin: 2cm;
  }

  .sidebar, .sharing, footer, .recipe-body, nav, img, time, .take-me, .cta{
    display: none;
  }

  #email-form{
    display: none!important;
  }

  body, .powered-by-sumo, .no-print{
    visibility: hidden!important;
  }

  .printable{
    visibility: visible!important;
  }

  .recipe-overview {
    padding: 0;
    margin: 0 0 30px 0;

    svg {
      position: relative;
      top: 6px;
    }

    span {
      margin: 0 18px 0 3px;
    }

    li {
      padding: 0;
      margin: 0;
      display: inline-block;
    }
  }

  .recipe-contents {
    display: block!important;
    border: none;
    .ingredients {
      width: 100%!important;
      padding: 0 43px 0 0;
    }

  }

  ul, ol {
    padding-left: 17px;
    margin: 0;
  }

  ol li {
    margin: 10px 0 0 0;

    &:before {
      top: 4pt!important;
    }
  }

}
/*end of @media print*/
/*end recipe*/

.post-images{
  max-width: 700px;
  margin: 5em auto;
}

/*Reviews display*/
.reviews-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  justify-content: center;
  grid-gap: 1rem;
  margin-bottom: 2em;
}
.review{
    max-width: 400px;
    border: 4px solid #cccccc;
    padding: 1em;
    justify-self: center;
}
.review-title{
  text-align: center;
  border-bottom: 4px solid #cccccc;
  padding: 1em;
}

.review-link a{
  color: var(--body-text-color)!important;
}

/*Reviews display end*/

.shadow{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

footer{
  width: 95%;
  text-align: center;
  padding-bottom: 1em;
}


/*Util*/

.img-sm{
  max-width: 350px;
}

.center{
  text-align: center;
}

.border-box{
    border: 4px solid #ece099;
    padding: 2em;
    margin: 2em 0;
}

.emoji{
  width: auto;
  display: inline;
}