
.logo{
	font-family: 'Allura', cursive;
	font-size: 48px;
	color: #ff5d55;
	font-weight: bold;
}

.navigation{
	text-align: right;
	vertical-align: middle;
	margin-top: 18px;
	text-align: right;
	color: #4a4a4a;
}
.nav-item{
	font-family: 'Amaranth', sans-serif;
	color: #4a4a4a;
	font-size: 16px;
	padding-right: 15px;
	font-weight: bold;
}

.nav-item:active{
	color: #ff5d55;
	text-decoration: none;
}

.nav-item:visited{
	color: #4a4a4a;
	text-decoration: none;
}

.nav-item:hover{
	color: #ff5d55;
	text-decoration: none;
}

.search{
	margin-top: 13px;
}

.search-input{
	background-color: white;
	
	height: 30px;
}
.search-button{
	border-radius: 0px;
	background-color: white;
	border-color: #8d8d8d;
}
.top-row{
	
}
a, a:hover, a:active, a:visited {
    text-decoration:none;
}

.post-placehoder{
}

.img-placehoder{
	float: left;
	width: 940px;
	height: 500px;
}

.subscribe-form{
	margin-bottom: 10px;
}

.input-box{
	
	border-radius: 0px;
}

.subscribe-button{
	background-color: #ff5d55;
	color: #FFFFFF;
	font-weight: bold;
	font-family: 'Amaranth', sans-serif;
}

.grey-border{
	border-color: #8d8d8d;
}

.dark-text{
	color: #4a4a4a;
}

.label-text{
	font-family: 'Amaranth', sans-serif;
	color: #4a4a4a;
	font-size: 14px;
	font-weight: bold;
	padding-left: 0px;
}

#me p{
	padding-top: 20px;
}

.gutter{
	height: 30px;
}



.info-text{
	color: #4a4a4a;
	font-family: 'Amaranth', sans-serif;
}


/* Text */

.bold-amaranath{
	font-weight: bold;
	font-family: 'Amaranth', sans-serif;
}