<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLH5S8S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="container-fluid">

  <div class="row">
    {{ content }}
</div>
<div class="row footer">
    {% include footer.html %}
</div>
</div>
    

    <script src="https://use.typekit.net/cng0pjz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>