---
layout: post
---
<article>

	{% include article-header.html %}
	
	<div class="video-image-grid">

		<a class="video-image" href="{{page.youtube.url}}" target="_blank">
			{% assign image = page.images[0] %}
			{% include image.html image=image url=image.url styleClass="first-image shadow center" id="main-image" %}
		</a>
		<a class="play-icon" href="{{page.youtube.url}}" target="_blank">
			<img src="/assets/img/youtube.svg" alt="Play on YouTube" title="Play on Youtube">
		</a>
		<p id="description" class="center">{{page.description}}</p>

	</div>

	{{content}}

	<script src="https://gumroad.com/js/gumroad-embed.js"></script>
</article>