<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container-fluid">
    
    <div class="row">
      {% include header.html %}
    </div>

    <div class="row">
      <article class="posts-list">
        {{ content }}
      </article>

    </div>
 
    <div class="row footer">
    {% include footer.html %}
    </div>

    </div>
    
   <script src="https://use.typekit.net/cng0pjz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <script id="dsq-count-scr" src="//sweetvalleycreations.disqus.com/count.js" async></script>
  </body>
</html>
